---
import { Image } from 'astro:assets'

import { Spoiler } from 'packages/pure/components/user'
import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
]
---

<PageLayout title='Projects' {headings}>
  <p>Github Activities:  <Spoiler>想要绿油油一片 😿</Spoiler> </p>
  <p>
    <Image
      src='https://ghchart.rshah.org/yuanji6666'
      alt='github activities'
      inferSize
      loading='lazy'
    />
    <Image
      src="https://shields.jannchie.com/endpoint?style=social&color=222&url=https%3A%2F%2Fapi.codetime.dev%2Fv3%2Fusers%2Fshield%3Fuid%3D35283"
      alt='github activities'
      inferSize
      loading='lazy'
    />
    
  </p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: ' 📞 Simple IM System',
        description: 'Go标准库实现的一个简单即时通信系统，已完结',
        links: [
          { type: 'github', href: 'https://github.com/yuanji6666/Golang_Lab_IMsystem' },
          { type: 'doc', href: 'https://github.com/yuanji6666/Golang_Lab_IMsystem/blob/main/arch.png'}
        ]
      },
      {
        name: '💰 Exchange App',
        description: 'Gin/Gorm/go-redis/Vue实现的前后端分离的货币论坛项目，已完结',
        links: [
          { type: 'github', href: 'https://github.com/yuanji6666/Golang_project_exchangeApp' },
        ]
      },
      {
        name: '🤖 GopherAI',
        description: 'Gin/Gorm/go-redis/RabbitMQ/Eino/vue实现的AI智能体项目，完善中......',
        links: [
          { type: 'github', href: 'https://github.com/yuanji6666/gopherAI' },
        ]
      }
    ]}
  />
  
  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: '⚙️ CSAPP Practice',
        description: '《深入理解计算机系统》的一些代码实现',
        links: [
          { type: 'github', href: 'https://github.com/yuanji6666/csappPractice' },
        ]
      },
    ]}
  />

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: '🧮 Sudoku Solve',
        description: "HUST程序设计课设，DPLL算法解决SAT问题并解决数独问题",
        links: [{ type: 'github', href: 'https://github.com/yuanji6666/SudokuProjectMyself' }]
      },
      
    ]}
  />

  
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
